@import url("./nav.css");
@import url("./main.css");
@import url("./footer.css");

.no-margins {
	margin: 0;
}

body {
	grid-template-areas: "nav nav nav" ". main ." "footer footer footer";
	grid-template-rows: var(--nav-height, 3rem) 1fr auto;
	grid-template-columns: auto 800px auto;
	grid-row-gap: 1.3rem;
}

#nav {
	grid-area: nav;
}

#main {
	grid-area: main;
}

#sidebar {
	grid-area: sidebar;
}

#footer {
	grid-area: footer;
}

@media (max-width: 850px) {
	body {
		grid-template-columns: 15px 1fr 15px;
	}
}

button.btn[is="share-button"] {
	bottom: 1rem;
	right: 1rem;
	padding: 0.8rem;
	font-size: 1.5rem;
}

@media (max-width: 800px) {
	.mobile-hidden {
		display: none;
	}
}
